build/CMakeFiles
build/output/*.out
build/CMakeCache.txt
build/cmake_install.cmake
build/Makefile
build/XrayTel
*~
*.nfs*
*.mat
build/output/gaussian_angle_sampling/
build/output/uniform_angle_sampling/
analysis/radial_flux.png
analysis/scatter_energy_time.png
TGFpropa-source/.kdev4/
TGFpropa-source/TGFpropa-source.kdev4
build/.settings/
build/.cproject
build/.project
analysis/data_TGF_500km.out
analysis/scatter_energy_time_15_500.png
analysis/spread_timing_15_500_km.png
build/output/save/
TGFpropa-source/CMakeLists.txt.user
build/TGF_Propa
build/TGF_propa.cbp
build/tgf_propa.cbp
build/xray_telescope.cbp
analysis/data_TGF_20km.out
analysis/lightcurves_and.png
analysis/radial_distance_and.png
analysis/scatter_energy_time_and.png
analysis/speed_scatter.png
analysis/data_TGF_500km_V2.out
*.user
atmosphere/
test_magnetic_steppers/
src/CMakeLists.txt.user
cmake-build-debug/
src/cmake-build-debug/
src/cmake-build-release/

